<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="Fonts/fontawesome-free-5.11.2-web/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <html>

    <body>
        <header class="header">
            <div class="header__wrapper center">
                <div class="header__left">
                    <a class="logo" href="index.html"><img class="logo__img" src="img/logo.png" alt="Logo">BRAN<span class="brand">D</span></a>
                    <form class="header__form" action="#">
                        <div class="wrapper__browse"> <a href="#" class="button__browse" type="button">Browse &#x25BC;</a>
                            <div class="drop__box">
                                <div class="drop__box__item">
                                    <h3 class="drop__item__title">Women</h3>
                                    <ul class="drop__menu">
                                        <li class="drop__list"><a href="#" class="drop__link">Dresses</a></li>
                                        <li class="drop__list"><a href="#" class="drop__link">Tops</a></li>
                                        <li class="drop__list"><a href="#" class="drop__link">Sweaters/Knits</a></li>
                                        <li class="drop__list"><a href="#" class="drop__link">Jackets/Coats</a></li>
                                    </ul>
                                    <h3 class="drop__item__title">Women</h3>
                                    <ul class="drop__menu">
                                        <li class="drop__list"><a href="#" class="drop__link">Dresses</a></li>
                                        <li class="drop__list"><a href="#" class="drop__link">Tops</a></li>
                                        <li class="drop__list"><a href="#" class="drop__link">Sweaters/Knits</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <input class="search__field" type="text">
                        <div class="search__button"><i class="fas fa-search"></i></div>
                    </form>
                </div>
                <div class="header__right">
                    <div class="header__cart"> <img src="img/cart.svg" alt="cart">
                        <div class="cart__box">
                            <div class="cart__products"> <img src="img/cart_1.png" alt="cart_1" class="product__cart__img">
                                <div class="product__cart__text"> <a href="" class="product__cart__name">Rebox Zane</a>
                                    <div class="product__raiting"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> </div>
                                    <p class="product__cart__price">1 x $250</p>
                                </div>
                                <p class="product__delete"><i class="fa fa-times-circle"></i></p>
                            </div>
                            <div class="cart__products"> <img src="img/cart_2.png" alt="cart_2" class="product__cart__img">
                                <div class="product__cart__text"> <a href="" class="product__cart__name">Rebox Zane</a>
                                    <div class="product__raiting"> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half-alt"></i> </div>
                                    <p class="product__cart__price">1 x $250</p>
                                </div>
                                <p class="product__delete"><i class="fa fa-times-circle"></i></p>
                            </div>
                            <div class="total__price">
                                <p class="total">TOTAL</p>
                                <p class="price">$500.00</p>
                            </div> <a href="checkout.html" class="cart__button">Checkout</a> <a href="#" class="cart__button">Go to cart</a> </div>
                    </div> <a href="#" class="myAccount__button" type="button">My Account &#x25BC;</a> </div>
            </div>
        </header>
        <nav class="center">
            <ul class="menu__ul">
                <li class="menu__list"><a href="index.html" class="menu__link">Home</a></li>
                <li class="menu__list "> <a href="products.html" class="menu__link">Man</a>
                    <div class="drop__box">
                        <div class="drop__box__item">
                            <h3 class="drop__item__title">Women</h3>
                            <ul class="drop__menu">
                                <li class="drop__list"><a href="#" class="drop__link">Dresses</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Tops</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Sweaters/Knits</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Jackets/Coats</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Blazers</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Denim</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Leggings/Pants</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Skirts/Shorts</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Accessories </a></li>
                            </ul>
                        </div>
                        <div class="drop__box__item">
                            <h3 class="drop__item__title">Women</h3>
                            <ul class="drop__menu">
                                <li class="drop__list"><a href="#" class="drop__link">Dresses</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Tops</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Sweaters/Knits</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Jackets/Coats</a></li>
                            </ul>
                            <h3 class="drop__item__title">Women</h3>
                            <ul class="drop__menu">
                                <li class="drop__list"><a href="#" class="drop__link">Dresses</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Tops</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Sweaters/Knits</a></li>
                            </ul>
                        </div>
                        <div class="drop__box__item">
                            <h3 class="drop__item__title">Women</h3>
                            <ul class="drop__menu">
                                <li class="drop__list"><a href="#" class="drop__link">Dresses</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Tops</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Sweaters/Knits</a></li>
                                <li class="drop__list"><a href="#" class="drop__link">Jackets/Coats</a></li>
                            </ul> <img src="img/super_sale.jpg" alt="" class="drop__img"> </div>
                    </div>
                </li>
                <li class="menu__list menu__list_active"><a href="#" class="menu__link active__page">Women</a></li>
                <li class="menu__list"><a href="#" class="menu__link">Kids</a></li>
                <li class="menu__list"><a href="#" class="menu__link">Accoseriese</a></li>
                <li class="menu__list"><a href="#" class="menu__link">Featured</a></li>
                <li class="menu__list"><a href="#" class="menu__link">Hot Deals</a></li>
            </ul>
        </nav>
        <section class="breadCrumbs">
            <div class="breadCrumbs__wrapper center">
                <h3 class="breadCrumbs__pageName">New Arrivals</h3>
                <ul class="breadCrumbs__ul">
                    <li class="breadCrumbs__list"><a href="#" class="breadCrumbs__link">Home/ </a></li>
                    <li class="breadCrumbs__list"><a href="#" class="breadCrumbs__link">Men/ </a></li>
                    <li class="breadCrumbs__list"><a href="#" class="breadCrumbs__link breadCrumbs__link_current">New Arrivals </a></li>
                </ul>
            </div>
        </section>
    
        <table class="cart-table center">
            <tr>
                <th class="cart-table__head">Product Details</th>											   
                <th class="cart-table__head">unite Price</th>			
                <th class="cart-table__head">Quantity</th>			
                <th class="cart-table__head">shipping</th>			
                <th class="cart-table__head">Subtotal</th>		    
                <th class="cart-table__head">ACTION</th>
            </tr>
            <tr>
                <td class="cart-table__data">
                    <div class="cart-products">
                        <img src="img/Cart_product_1.jpg" alt="cart_product_1" class="cart-products__img">
                        <div class="cart-products__content">
                            <a href="#" class="cart-products__name">Mango  People  T-shirt</a>
                            <div class="cart-products__preferance"><span class="preferance">Color:</span><span class="value"></span>Red</div>
                            <div class="cart-products__preferance"><span class="preferance">Size:</span><span class="value"></span>XXL</div>
                        </div>
                    </div>
                </td>
                <td class="cart-table__data">$150</td>
                <td class="cart-table__data"><input class="count" type="text" value="2"></td>
                <td class="cart-table__data">FREE</td>
                <td class="cart-table__data">$300</td>
                <td class="cart-table__data"><i class="fa fa-times-circle"></i></td>
            </tr>
            <tr>
                <td class="cart-table__data">
                    <div class="cart-products">
                        <img src="img/Cart_product_2.jpg" alt="cart_product_2" class="cart-products__img">
                        <div class="cart-products__content">
                            <a href="#" class="cart-products__name">Mango  People  T-shirt</a>
                            <div class="cart-products__preferance"><span class="preferance">Color:</span><span class="value"></span>Red</div>
                            <div class="cart-products__preferance"><span class="preferance">Size:</span><span class="value"></span>XXL</div>
                        </div>
                    </div>
                </td>
                <td class="cart-table__data">$150</td>
                <td class="cart-table__data"><input class="count" type="text" value="2"></td>
                <td class="cart-table__data">FREE</td>
                <td class="cart-table__data">$300</td>
                <td class="cart-table__data"><i class="fa fa-times-circle"></i></td>
            </tr>
            <tr>
                <td class="cart-table__data">
                    <div class="cart-products">
                        <img src="img/Cart_product_3.jpg" alt="cart_product_3" class="cart-products__img">
                        <div class="cart-products__content">
                            <a href="#" class="cart-products__name">Mango  People  T-shirt</a>
                            <div class="cart-products__preferance"><span class="preferance">Color:</span><span class="value"></span>Red</div>
                            <div class="cart-products__preferance"><span class="preferance">Size:</span><span class="value"></span>XXL</div>
                        </div>
                    </div>
                </td>
                <td class="cart-table__data">$150</td>
                <td class="cart-table__data"><input class="count" type="text" value="2"></td>
                <td class="cart-table__data">FREE</td>
                <td class="cart-table__data">$300</td>
                <td class="cart-table__data"><i class="fa fa-times-circle"></i></td>
            </tr>
        </table>
        <div class="cart-navigation center">
            <div class="button">CLEAR SHOPPING CART</div>
            <a href="#" class="button">CONTINUE SHOPPING</a>
        </div>
        <section class="buy center">
            <form action="#" class="buy__form">
                <legend class="buy__title">shipping adress</legend>
                <input class="buy__input" type="text" placeholder="Country">
                <input class="buy__input" type="text" placeholder="States">
                <input class="buy__input" type="text" placeholder="Postcode/Zip">
                <input class="buy__button" type="submit" value="get a quote">
            </form>
            <form action="#" class="buy__form">
                <legend class="buy__title">coupon-discount</legend>
                <label for="number" class="buy__label">Enter your coupon code if you have one</label>
                <input class="buy__input" type="text" id="number" placeholder="Coupone code">
                <input class="buy__button" type="submit" value="Apply coupon">
            </form>
            <div class="buy__form">
                <form action="#" class="buy__form_three">
                    <label class="buy__label">SUB TOTAL<span class="buy__label_price">$900</span></label>
                    <legend class="buy__title">GRAND TOTAL<span class="buy__title_red">$900</span></legend>
                    <p class="buy__line"></p>
                    <input class="buy__button buy__button_red" type="submit" value="proceed to checkout">
                </form>
            </div>
            
        </section>
        <section class="subscribe">
            <div class="subscribe__bg">
                <div class="subscribe__content center">
                    <div class="subscribe__slider"> <img src="img/photo.png" alt="" class="slider__photo">
                        <div class="slider__text">
                            <p class="text__message">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
                            <p class="text__name">Bin Burhan</p>
                            <p class="text__city">Dhaka, Bd</p>
                            <div class="slider__poiter">
                                <div class="pointer__item"></div>
                                <div class="pointer__item pointer__item__active"></div>
                                <div class="pointer__item"></div>
                            </div>
                        </div>
                    </div>
                    <form action="#" class="subscribe__form">
                        <h3 class="form__title">Subscribe </h3>
                        <p class="form__text">FOR OUR NEWLETTER AND PROMOTION</p>
                        <input type="email" class="form__field" placeholder="Enter Your Email" required>
                        <input type="submit" class="form__button" value="Subscribe"> </form>
                </div>
            </div>
        </section>
        
        <footer class="footer">
            <div class="footer__nav center">
                <div class="footer__text">
                    <a class="logo" href="#"><img class="logo__img" src="img/logo.png" alt="Logo">BRAN<span class="brand">D</span></a>
                    <p class="text_1">Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships. </p>
                    <p class="text_2">Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.</p>
                </div>
                <nav class="footer__nav">
                    <div class="footer__nav__item">
                        <h3 class="item__name">COMPANY</h3>
                        <ul class="item__list">
                            <li class="item__list"><a href="" class="item__link">Home</a></li>
                            <li class="item__list"><a href="" class="item__link">Shop</a></li>
                            <li class="item__list"><a href="" class="item__link">About</a></li>
                            <li class="item__list"><a href="" class="item__link">How It Works</a></li>
                            <li class="item__list"><a href="" class="item__link">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer__nav__item">
                        <h3 class="item__name">SHOP CATEGORY</h3>
                        <ul class="item__list">
                            <li class="item__list"><a href="" class="item__link">Tearms & Condition</a></li>
                            <li class="item__list"><a href="" class="item__link">Privacy Policy</a></li>
                            <li class="item__list"><a href="" class="item__link">How to Buy</a></li>
                            <li class="item__list"><a href="" class="item__link">How to Sell</a></li>
                            <li class="item__list"><a href="" class="item__link">Promotion</a></li>
                        </ul>
                    </div>
                    <div class="footer__nav__item">
                        <h3 class="item__name">INFORMATION</h3>
                        <ul class="item__list">
                            <li class="item__list"><a href="" class="item__link">Men</a></li>
                            <li class="item__list"><a href="" class="item__link">Women</a></li>
                            <li class="item__list"><a href="" class="item__link">Child</a></li>
                            <li class="item__list"><a href="" class="item__link">Apparel</a></li>
                            <li class="item__list"><a href="" class="item__link">Brows All</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="footer__copyright">
                <div class="footer__copyright__item center">
                    <p class="copyrigt">© 2017 Brand All Rights Reserved.</p>
                    <div class="icon"> <a href="#" class="icon__item"><i class="fab fa-facebook-f"></i></a> <a href="#" class="icon__item"><i class="fab fa-twitter"></i></a> <a href="#" class="icon__item"><i class="fab fa-google"></i></a> <a href="#" class="icon__item"><i class="fab fa-vk"></i></a> <a href="#" class="icon__item"><i class="fab fa-instagram"></i></a> </div>
                </div>
            </div>
        </footer>
    </body>

    </html>